body {
    background-color:black;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .calculate{
      background-color:aqua ;
      width: 338px;
      text-align: center;
      padding: 10px;
      border-radius: 10px;
  }
  input{
      margin: 10px;
      padding: 10px;
      font-size: 18px;
      width: 60px;
      height: 60px;
      outline: none;
      cursor: pointer;
      background: gray;
      border: none;
      color: #fff;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .display-input{
      width: 80%;
      padding: 0px 10px;
      border-radius: 0px;
  }